#ignore .idea directory
/.idea

#ignore iml files
*.iml

#ignore default map
Lab1.map

#ignore MakeFile
Makefile

#ignore .gitignore
.gitignore

#ignore any changes to simulator and Main
/src/TSim

#ignore compiled files, similar to out directory
/bin

